__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml
coverage.json
htmlcov/
badges/

dist/
build/
#*.whl
*.tar.gz

local/
examples/
tests/

.git/
.github/
.idea/
.vscode/
.env
.env.example

